@import './variables.sass'

.note-wrapper
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	.top-row,
	.bottom-row
		padding: 10px
		width: 100%
		display: flex
		align-items: center
		flex: 1 0
		input, textarea 
			width: 100%
			border: none
			box-shadow: 0 0 8px -2px rgba(0,0,0,0.3)
			
	.top-row
		height: $menu-height/2
		input
			height: $menu-height/2
	.bottom-row
		flex-direction: column
		min-height: 50vh
		textarea
			padding: 10px
			min-width: 100%
			max-width: 100%
			height: calc(100vh - 230px)
			min-height: calc(100vh - 230px)
			max-height: calc(100vh - 230px)