@import './variables.sass'

.note-wrapper
	width: 100%
	max-width: 1200px
	margin: 0 auto
	padding: 10px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	padding-top: 10px
	.top-row,
	.bottom-row,
	.button-row
		width: 100%
		display: flex
		
		flex: 1 0
		input, textarea 
			width: 100%
			border: none
			box-shadow: 0 0 8px -2px rgba(0,0,0,0.3)
			text-indent: 10px
			font-size: 1rem
			transition: all .15s ease-in
			border: 2px solid white
			&:focus
				border-radius: 4px
				border: 2px solid $tertiary-color
				outline: none
		p.label
			padding-left: 10px
			width: 120px
			min-width: 120px
			font-weight: 700
			font-size: 1.1rem
			height: 40px
			line-height: 40px
			&:last-of-type
				align-self: flex-start
			
			
	.top-row
		height: $menu-height/2
		margin-bottom: 10px
		align-items: center
	
		input
			height: $menu-height/2
			font-size: 1.1rem
		&.category-row
			align-items: flex-start
	.button-row
		margin-top: 10px
	.add-note-btn
		position: absolute
		bottom: 0
		left: 0
		width: auto
		color: $tertiary-color
		background-color: #fff
		display: flex
		height: 60px
		width: 100%
		justify-content: center
		align-items: center
		transition: all .14s ease-in-out
		border: 2px solid $tertiary-color
		&:hover,
		&:active
			color: #fff
			background-color: $tertiary-color
			cursor: pointer
		&:active
			transform: scale(0.99)
		p 
			font:
				size: 1.4rem
				weight: 700
			text-transform: uppercase
			margin-right: 20px
			
				
	.bottom-row
		min-height: 50vh
		textarea
			text-indent: 0
			padding: 10px
			width: 100%
			height: calc(100vh - 300px)
			min-height: 160px
			max-height: calc(100vh - 300px)
	.list__wrapper
		width: 100%
		input
			height: 40px
			font-size: 1.1rem
			margin-bottom: 10px